<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://bootstrapcreative.com/wp-bc/wp-content/themes/wp-bootstrap/codepen/bootstrapcreative.js?v=1"></script>
</head>
<body>
    <div class="container" style="margin-top: 50px">
        <div class="row">
            <div class="jumbotron text-xs-center">
                <h1 class="display-3">Thank You! <b><%= Uname %></b></h1>
                <p class="lead"><strong>You have almost completed</strong> your account setup.</p>
                <hr>
                <p>
                  Having trouble? <a href="#">Contact us</a>
                </p>
              
        <p class="lead">
            <a class="btn btn-primary btn-sm" href="http://localhost:3000/" role="button">Click here to activate</a>
        </p>  
              </div>
              
        </div>
    </div>
</body>
</html>


<p class="lead">
    <a class="btn btn-primary btn-sm" href="https://bootstrapcreative.com/" role="button">Continue to homepage</a>
  </p>